{% load static govuk_frontend_django %}
{% load render_bundle from webpack_loader %}
{% load govuk_frontend_django %}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'webpack_bundles/govuk/assets/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'webpack_bundles/govuk/assets/images/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webpack_bundles/govuk/assets/images/govuk-icon-180.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'webpack_bundles/govuk/assets/images/govuk-icon-192.png' %}">
    <link rel="icon" sizes="512x512" href="{% static 'webpack_bundles/govuk/assets/images/govuk-icon-512.png' %}">
    <link rel="mask-icon" href="{% static 'webpack_bundles/govuk/assets/images/govuk-icon-mask.svg' %}" color="#0b0c0c">
    <meta property="og:image" content="{% static 'webpack_bundles/govuk/assets/images/govuk-opengraph-image.png' %}">

    {% block head %}
      {% render_bundle 'Base' 'css' %}
    {% endblock head %}
    {% block extrahead %}
    {% endblock extrahead %}
  </head>

  <body class="govuk-template__body govuk-frontend-supported">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    {% block body_start %}{% endblock body_start %}

    {% gds_component "skip-link" text="Skip to main content" href="#main-content" %}

    {% block header %}
      {% gds_header homepageUrl="/" serviceName=current_site.site_name serviceUrl="/" containerClasses="govuk-width-container" %}
        {% gds_header_nav_item_inline href=users_url text=current_site.site_name %}
      {% endgds_header %}
    {% endblock header %}

    <div class="{% block container_class_names %}govuk-width-container{% endblock container_class_names %}">
      <main class="{% block main_class_names %}govuk-main-wrapper{% endblock main_class_names %}" id="main-content" role="main">
        {% block content %}
          <h1 class="govuk-heading-xl">Default page template</h1>
        {% endblock content %}
      </main>
    </div>

    {% block footer %}
      {% gds_footer %}
      {% endgds_footer %}
    {% endblock footer %}

    {% block body_end %}
      {% render_bundle 'Base' 'js' %}
      {% block extra_js %}{% endblock extra_js %}
    {% endblock body_end %}
  </body>
</html>
